<h2>Properties</h2>
<div>
  <div>
    <div>
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Provider ID</th>
        <th>Location</th>
        <th>Price Per Night</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let property of properties'>
        <td>{{property.providerID}}</td>
        <td>{{property.location}}</td>
        <td>{{property.pricePerNight}}</td>
      </tr>
    </tbody>
  </table>
</div>
