<ion-header>
    <ion-tab-bar>
      <ion-tab-button (click)='explore()'>
        <ion-icon name="compass"></ion-icon>
        <ion-label>EXPLORE</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)='saved()'>
          <ion-icon name="star"></ion-icon>
        <ion-label>SAVED</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)='trips()'>
          <ion-icon name="airplane"></ion-icon>
          <ion-label>TRIPS</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)='inbox()'>
          <ion-icon name="text"></ion-icon>
          <ion-label>INBOX</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)='profile()'>
          <ion-icon name="person"></ion-icon>
          <ion-label>PROFILE</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)='logout()'>
          <ion-icon name="hand"></ion-icon>
          <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-header>
  

<ion-content text-center>
  <br><br><br>
      <ion-item>You have no upcoming trips.</ion-item>
      <p><b>Start exploring ideas for your next trip!</b></p>
      <hr>
          <ion-button href='/explore' color= "tertiary" expand="full">Find Homes</ion-button>
      <hr><hr>
      
  </ion-content>
