<ion-header>
  <ion-toolbar>
    <ion-title>Trips</ion-title>
    <ion-button (click)='explore()'>EXPLORE</ion-button>
    <ion-button (click)='saved()'>SAVED</ion-button>
    <ion-button (click)='trips()'>TRIPS</ion-button>
    <ion-button (click)='inbox()'>INBOX</ion-button>
    <ion-button (click)='profile()'>PROFILE</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <body class="page">
      <h3>You have no upcoming trips.</h3>
      <p>Start exploring ideas for your next trip!</p>
      <hr>
      <ion-button href='/explore'>Find Homes</ion-button>
      <hr><hr>

      <h3> Where you've been</h3>
      <ion-item href="#"> Peru</ion-item>
      <hr>
    </body>
  </ion-content>
