<ion-header>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab-login" (click)='login()'>
        <ion-label><b>Login</b></ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab-login" >
          <ion-label> <b>Sign Up</b></ion-label>
       </ion-tab-button>
    </ion-tab-bar>
    
  <h1 class="title">Register</h1>

</ion-header>

<ion-content class="inputs">
  <ion-item>
      <ion-input type=text placeholder="Email address" [(ngModel)]="email" ></ion-input><br>

  </ion-item>
  <ion-item>
      <ion-input type=text placeholder="First name"[(ngModel)]="first" ></ion-input><br>
  </ion-item>
  <ion-item>
      <ion-input type=text placeholder="Last name"[(ngModel)]="last" ></ion-input><br>
  </ion-item>
  <ion-item>
      <ion-input type=text placeholder="Create a Password"[(ngModel)]="password" ></ion-input><br>
  </ion-item>
  <ion-item>
      <ion-input type=text placeholder="phone"[(ngModel)]="phone" ></ion-input><br>
  </ion-item>


  <ion-item >
      <ion-label>Birthday</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" ></ion-datetime>
    </ion-item>
  <ion-button expand="full" (click)=create() color= "tertiary" >Sign up</ion-button>
  <br ><h6 text-center>Already have an acount? <a (click)=login()>Login</a></h6>


</ion-content>

