<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-button (click)='explore()'>EXPLORE</ion-button>
    <ion-button (click)='saved()'>SAVED</ion-button>
    <ion-button (click)='trips()'>TRIPS</ion-button>
    <ion-button (click)='inbox()'>INBOX</ion-button>
    <ion-button (click)='profile()'>PROFILE</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
    <body class="page">
      <p>You have no new messages.</p>
      <br><br><br><br><br><br>
      <p>You're all caught up!</p>

    </body>
</ion-content>
