// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
ion-tab-bar,ion-tab-button{
    background-color: plum;
    color: black;
}

ion-tab-button:active{
    color: rgb(146, 146, 146);
}