<ion-header>
    <ion-title>Profile</ion-title>
  </ion-header>

<ion-content >
    <body class="page">
      <ion-avatar><img src='/assets/avatar.jpg'></ion-avatar>
      <h1>Hi, my Name is {{user.firstName}} {{user.lastName}}</h1>
      <hr>
      <h2>Contact me:</h2>
      <ul>
        <li>Email: {{user.email}}</li>
        <li>Phone: {{user.phone}}</li>
      </ul>




    </body>
  </ion-content>
  <ion-toolbar align="center">
      <ion-button (click)='explore()'>EXPLORE</ion-button>
      <ion-button (click)='createNewRental()'>NEW RENTAL</ion-button>
      <ion-button (click)='profile()'>PROFILE</ion-button>
    </ion-toolbar>
