<ion-header>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab-login">
        <ion-label><b>Login</b></ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab-login" (click)='register()'>
          <ion-label> <b>Sign Up</b></ion-label>
       </ion-tab-button>
    </ion-tab-bar>
    
  <h1 class="title">Login to Continue</h1>

</ion-header>

<ion-content>
  <body class="page">
    <br><br><br><br><br>
    <ion-item>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button class="block" expand="full" color= "tertiary" (click)="login()">Login</ion-button><br>
   <a href="#">Forgot Password?</a>
  </body>
</ion-content>